name: CI Build and Push Docker Images

on:
  push:
    branches:
      - main

concurrency:
  group: build-and-push-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_SECRET }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v6
        with:
          context: ./bidverse-backend
          file: ./bidverse-backend/backend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bidverse-backend:latest,${{ secrets.DOCKERHUB_USERNAME }}/bidverse-backend:${{ github.sha }}

      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./bidverse-frontend
          file: ./bidverse-frontend/frontend.Dockerfile
          push: true
          build-args: |
            VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bidverse-frontend:latest,${{ secrets.DOCKERHUB_USERNAME }}/bidverse-frontend:${{ github.sha }}
